@import url("../libraries/polyui/polyui.css");
@import url("../libraries/alertify/themes/alertify.core.css");
@import url("../libraries/alertify/themes/alertify.default.css");
@import url("../libraries/font-awesome/font-awesome.css");
@import url("../libraries/font-awesome/macset.css");

/*
@font-face {
  font-family: Lato;
  src: url("../libraries/font-awesome/Lato-Light.ttf");
}
*/

body {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* Contact Bar */
.contact-bar {
  cursor: default;
  color: #fff;
  background-color: #ff9b00;
  padding: 15px;
  font-size: 1em;
}
.contact-bar .contact-pic {
  color: #d0e0e7;
  /*background-color: #96baca;*/
  background-color: #5aa6c7;
  border-radius: 100%;
  padding: 10px 12px;
  margin-left: .25em;
  margin-right: .5em;
}

/* Chat History */
.chat-container {
  height: calc(100vh - 54px - 255px - 13px);
  background-color: #fff;
  overflow: auto;
  padding-bottom: 15px;
}
.chat-container .message {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  display: inline-block;
}
.chat-container .them > .message {
  background-color: #f1f4f7;
  border-bottom-left-radius: 0;
}
.chat-container .you > .message {
  background-color: #fff7af;
  border-bottom-right-radius: 0;
}
.chat-container .them:before,
.chat-container .you > .message:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-decoration: inherit;
}
.chat-container .them:before {
  content: "\f0d9";
  color: #f1f4f7;
  position: relative;
  top: 22px;
  right: -21px;
}
.chat-container .you > .message:after {
  content: "\f0da";
  color: #fff7af;
  position: relative;
  top: 22px;
  left: 20px;
}
.chat-container .message[data-meaning]:hover::before {
  content: attr(data-meaning);
  display: block;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
/*  background-color: #000;*/
/*  background-color: #676340;*/
  background-color: #3a371f;
  background-color: rgba(0, 0, 0, .68);
  color: #fff;
}

/* Keyboard */
.bottom-bar > .preview {
  padding: 10px;
  height: calc(80px - 1em);
  background-color: #dadada;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
}
.bottom-bar > .keyboard {
  background-color: #dadada;
  padding: 15px;
  text-align: center;
}
.bottom-bar > .keyboard > div > button {
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  display: inline-block;
  width: calc(100%/11 - 16px);
  min-width: 24px;
  color: #000;
  background-color: #fff;
  border: 0;
  outline: 0;
}
.bottom-bar > .keyboard > div > button:hover {
  background-color: #e6e6e6;
}
.bottom-bar > .keyboard > div > button:active {
  background-color: #ccc;
}
.bottom-bar > .keyboard > div > button.spacebar {
/*  width: calc(100% - 20px);*/
/*  width: calc(100vw/1.1);*/
  width: 99%;
  margin: 10px 0 0 0;
  padding: 1em 0;
}
.bottom-bar > .keyboard > div > button.spacebar:active {
  background-color: #bbb;
}
.bottom-bar > .keyboard > div > button.active {
  background: #55caff;
}
.bottom-bar > .keyboard > div > button.active:hover {
  background: #74d4ff;
}
.bottom-bar > .keyboard > div > button.active:active {
  background: #00afff;
}

/* Preloader animation */
.typing > div {
  width: 1px;
  height: 1px;
  padding: 4px;
  margin-right: 5px;
  background: #888;
  border-radius: 100%;
  display: inline-block;
  animation: typingdelay 1.4s infinite ease-in-out both;
}
.typing > div:last-of-type {
  margin: 0;
}
.typing .load1 {
  animation-delay: -0.32s;
}
.typing .load2 {
  animation-delay: -0.16s;
}

@keyframes typingdelay {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@media all and (max-width:475px) {
  .chat-container {
    height: calc(100vh - 54px - 238px);
  }
  .bottom-bar > .keyboard > div > button {
    padding: 0;
  }
}

/* Variables */
.hide {
  display: none;
}
.ib {
  display: inline-block;
}
.wa {
  width: auto;
}
.tar {
  text-align: right;
}
.notxtsel {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}