/*@import url("../libraries/normalize/normalize.css");*/
@import url("../libraries/polyui/polyui.css");
@import url("../libraries/alertify/themes/alertify.core.css");
@import url("../libraries/alertify/themes/alertify.default.css");
@import url("../libraries/font-awesome/font-awesome.css");
@import url("../libraries/font-awesome/macset.css");

body {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* Contact Bar */
.contact-bar {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  font-size: 1em;
  text-align: center;
}
.contact-bar a {
  color: #737882;
  transition: all linear 100ms;
  text-decoration: none;
}
.contact-bar a:hover {
  color: #55caff;
}
.contactbtns {
  position: absolute;
}
.cb-left {
  left: 0;
}
.cb-right {
  right: 0;
}
.contactbtns a {
  margin: 5px;
  padding: 10px;
}
.contact {
  text-transform: capitalize;
}
.avatarbg {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em;
  position: relative;
  border-radius: 100%;
  width: 108px;
  margin: auto;
}
.nameoutput {
  position: relative;
  /*margin-top: 20px;*/
  margin-top: -15px;
  padding-bottom: 1px;
  z-index: 1;
}
.location {
  font-size: 8px;
}
.donatebtns img {
  display: inline-block;
  width: 25%;
}
.gender {
  position: relative;
  font-size: 2em;
  top: -36px;
  left: -30px;
}
.gender[data-gender=male] {
  color: #3ce46b;
}
.gender[data-gender=female] {
  color: violet;
}
/*** custom checkboxes ***/
#setGender { display:none; } /* to hide the checkbox itself */
#setGender + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

#setGender + label:before { content: "\f221"; } /* unchecked icon */
#setGender:checked + label:before { content: "\f222"; } /* checked icon */

/* Chat History */
.chat-container {
/*  height: calc(100vh - 54px - 255px - 13px);*/
  height: calc(100vh - 54px - 255px - 34px);
  background-color: #fff;
  overflow: auto;
  padding-bottom: 15px;
}
.chat-container .message {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  display: inline-block;
}
.chat-container img {
  margin-bottom: 0;
}
.chat-container .them > .message {
  background-color: #f1f4f7;
  border-bottom-left-radius: 0;
}
.chat-container .you > .message {
  background-color: #fff7af;
  border-bottom-right-radius: 0;
}
.chat-container .them:before,
.chat-container .you > .message:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-decoration: inherit;
}
.chat-container .them:before {
  content: "\f0d9";
  color: #f1f4f7;
  position: relative;
  top: 22px;
  right: -21px;
}
.chat-container .you > .message:after {
  content: "\f0da";
  color: #fff7af;
  position: relative;
  top: 22px;
  left: 20px;
}
.chat-container .message[data-meaning]:hover::before {
  content: attr(data-meaning);
  display: block;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
/*  background-color: #000;*/
/*  background-color: #676340;*/
  background-color: #3a371f;
  background-color: rgba(0, 0, 0, .68);
  color: #fff;
}

/* Keyboard */
.bottom-bar {
  background-color: #dadada;
  text-align: center;
  overflow: hidden;
}
.bottom-bar > .preview {
  padding-top: 5px;
/*  height: calc(80px - 17px);*/
/*  height: calc(63px);*/
  height: calc(54px);
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.bottom-bar > .keyboard {
  padding: 15px;
}
.bottom-bar > .keyboard > div > button {
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  display: inline-block;
  /*width: calc(100%/11 - 16px);*/
  width: calc(100%/12 - 16px);
  min-width: 24px;
  color: #000;
  background-color: #fff;
  border: 0;
  outline: 0;
}
.bottom-bar > .keyboard > div > button:hover {
  background-color: #e6e6e6;
}
.bottom-bar > .keyboard > div > button:active {
  background-color: #ccc;
}
.bottom-bar > .keyboard > div > button.spacebar {
  /*width: calc(100% - 20px);*/
  /*width: calc(100vw/1.1);*/
  width: 99%;
  margin: 10px 0 0 0;
  padding: 1em 0;
}
.bottom-bar > .keyboard > div > button.spacebar.editor {
  /*width: calc(100% - 140px);*/
  width: calc(100% - 100px);
  padding: 17px 0;
  position: relative;
  top: -6px;
  left: 11px;
}
.bottom-bar > .keyboard > div > button.enter {
  width: 40px;
}
.bottom-bar > .keyboard > div > button.spacebar:active {
  background-color: #bbb;
}
.bottom-bar > .keyboard > div > button.active {
  background: #55caff;
}
.bottom-bar > .keyboard > div > button.active:hover {
  background: #74d4ff;
}
.bottom-bar > .keyboard > div > button.active:active {
  background: #00afff;
}
@media all and (max-width:475px) {
  .chat-container {
    height: calc(100vh - 54px - 238px);
  }
  
  .bottom-bar > .keyboard > div > button {
    padding: 0;
    margin: 3px 0;
  }
  .bottom-bar > .keyboard > div > button.spacebar.editor {
    /*width: calc(100% - 140px);*/
    width: calc(100% - 100px);
    padding: 12px 0;
    position: relative;
    top: -6px;
    left: 11px;
  }
  .bottom-bar > .keyboard > div > button.enter {
    width: 40px;
  }
}

/* Preloader animation */
.typing > div {
  width: 1px;
  height: 1px;
  padding: 4px;
  margin-right: 5px;
  background: #888;
  border-radius: 100%;
  display: inline-block;
  animation: typingdelay 1.4s infinite ease-in-out both;
}
.typing > div:last-of-type {
  margin: 0;
}
.typing .load1 {
  animation-delay: -0.32s;
}
.typing .load2 {
  animation-delay: -0.16s;
}
@keyframes typingdelay {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.no-weave {
  background: #fff;
  background: rgba(255,255,255,.68);
  z-index: 99999!important;
  color: #4E92A2;
}
.fixedfill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.table {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
.launcheditor {
  position: relative;
  background: #4e92a2;
  color: #fff;
  padding: 1em 2em;
  font-size: 14px;
  top: 15px;
}
.launcheditor:hover {
  color: #fff;
  background: #57b5cc;
  text-decoration: none;
}
.no-weave h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
  color: #4E92A2;
}

/*off-canvas*/
.bright .uk-offcanvas-bar {
  background-color: #fff;
  color: #333;
}
.bright .uk-offcanvas-bar h1,
.bright .uk-offcanvas-bar h2,
.bright .uk-offcanvas-bar h3,
.bright .uk-offcanvas-bar h4,
.bright .uk-offcanvas-bar h5,
.bright .uk-offcanvas-bar h6,
.bright .uk-offcanvas-bar ul,
.bright .uk-offcanvas-bar ul li,
.bright .uk-offcanvas-bar ul ul li,
.bright .uk-offcanvas-bar p,
.bright .uk-offcanvas-bar button svg {
  font-weight: normal;
  line-height: 1.5;
  color: #666;
  text-rendering: optimizeLegibility;
}

.bright .uk-offcanvas-bar p {
  font-family: "Lato";
  font-size: 15px;
}

.bright .uk-offcanvas-bar a,
.bright .uk-nav a,
.bright .uk-nav li a,
.bright .uk-nav .uk-active a,
.bright .uk-nav .uk-parent a,
.bright .uk-nav .uk-parent .uk-nav-sub a {
  color: #1473c7;
  text-decoration: none;
}
.uk-offcanvas-bar .uk-nav-default>li.uk-active>a,
.bright .uk-nav .uk-nav-header {
/*  color: #666;*/
  color: #1473c7;
}

.bright .uk-offcanvas-bar a:hover,
.bright .uk-nav a:hover,
.bright .uk-nav li a:hover,
.bright .uk-nav .uk-active a:hover,
.bright .uk-nav .uk-parent a:hover,
.bright .uk-nav .uk-parent .uk-nav-sub a:hover {
  color: #0089ff;
}

.bright .uk-offcanvas-bar a:visited,
.bright .uk-nav a:visited,
.bright .uk-nav li a:visited {
  color: #1473c7;
}

/*Editor*/
.socialbox {
  display: inline-block;
  width: calc(100% - 34px);
}

/* Variables */
.cur-defaut {
  cursor: default;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.ib {
  display: inline-block;
}
.wa {
  width: auto;
}
.tc {
  text-align: center;
}
.tr, .tar {
  text-align: right;
}
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.notxtsel {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
.scale {
  transform: scale(1.5);
}