/* Colors
(picked from http://sankk.in/material-mixer/, following http://www.google.com/design/spec/style/color.html)

Primary Shade: #009688
Primary Light: #B2DFDB
Primary Dark: #00796B

Accent Shade: #FFAB40
Accent Light (Fallback): #FFD180 */

/*Globals*/
a {
  cursor: pointer;
}

/*Header*/
.mdl-layout__header {
  background-color: #009688!important;
}

/*Header menu dropdown*/
.mdl-menu a {
  text-decoration: none;
  color: #000;
}
.mdl-menu .mdl-menu__item .material-icons {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0 5px 0 -5px;
}
.mdl-menu .mdl-menu__item span {
  display: inline-block;
}

/*Tab Menu*/
.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background-color: inherit!important;
}
a.mdl-layout__tab.is-active::after {
  background-color: #f9e88f!important;
}

/*Add ripple effect for navigation links*/
a.mdl-js-ripple-effect {
  position: relative;
}

/*Cards*/
.mdl-layout__content {
  background: #e5e5e5!important;
}
.mdl-card {
  width: 100%;
  min-height: auto;
}
.mdl-card__supporting-text {
  width: 100%;
  height: calc(100vh - 128px);
  overflow-v: auto;
}
@media all and (max-width:1024px) {
  .mdl-card__supporting-text {
    height: calc(100vh - 120px);
  }
}

/*Alertify messages*/
.ajs-message.ajs-visible {
/*  box-shadow: 0 0 2em rgba(0, 0, 0, 0.48);*/
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.48);
}

/*Lesson types*/
.lesson-types {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.lesson-types a {
  display: inline-block;
  width: 180px;
  text-align: center;
  float: none;
}
.lesson-types .mdl-button {
  color: #6776e2;
  height: inherit;
  min-width: auto;
  padding: 5px;
  text-transform: uppercase;
/*  line-height: 24px;*/
  line-height: 14px;
  font-size: 12px;
}
.lesson-types img {
  display: block;
  width: 80px;
  margin-left: 50px;
  margin-bottom: 15px;
}