/*incorporated resources*/
@import url("../libraries/uikit/css/uikit.min.css");
@import url("../libraries/alertify/themes/alertify.core.css");
@import url("../libraries/alertify/themes/alertify.default.css");
@import url("../libraries/font-awesome/font-awesome.css");
@import url("../libraries/font-awesome/macset.css");
@import url("vars.css");

html, body {
  margin: 0;
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.herobg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../imgs/pexels-photo-62348.jpeg');
  background-position: center center;
  background-size: cover;
  animation: bgscale 25s infinite linear;
}

@keyframes bgscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 19px 1em;
  overflow: auto;
  color: #fff;
  background-color: rgb(72, 154, 160);
  background-color: rgba(0, 137, 173, 0.41);
}
.hero p {
  font-family: "ProximaNova";
  font-size: 20px;
  line-height: 1.5em;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  margin: 20px auto;
}
.btn {
  font-family: "ProximaNova";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  padding: 1em 1.75em;
  line-height: 1em;
  margin: 10px 0;
}

/*navbar*/
.uk-navbar-toggle {
  color: #fff;
  transition: all linear .3s;
}
.uk-navbar-toggle:hover {
  color: #a4cac1;
}
.uk-navbar-dropdown {
  top: 65px!important;
}
.uk-navbar-nav>li>a,
.uk-navbar-nav>li>button, .btn {
  color: #fff;
  transition: all linear .3s;
}
.uk-navbar-nav>li>a {
  position: relative;
  height: auto;
  padding: 9px 15px;
}
.uk-navbar-nav>li>a:hover {
  color: #fff;
}
.uk-navbar-nav>li>a:after{
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 0%;
  background-color: #fff;
  display: block;
  content: '';
  transition: 0.3s;
}
.uk-navbar-nav>li>a:hover:after{
  left: 0;
  width: 100%;
}
.uk-navbar-nav>li>button, .btn {
  border: 2px solid #fff;
}
.uk-navbar-nav>li>button:hover, .btn:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

/*center vertically*/
.table {
  display: table;
  height: calc(100% - 100px);
  width: 100%;
}
.cell {
  position: relative;
  display: table-cell;
  top: -50px;
  vertical-align: middle;
}

/*responsive*/
.tablet {
  display: flex;
}
.phone {
  display: none;
}
@media all and (max-width:670px) {
  .tablet {
    display: none;
  }
  .phone {
    display: block;
  }
}

/*misc*/
.pointer {
  cursor: pointer;
}
.tc {
  text-align: center;
}
.fr {
  float: right;
}