body {
  background-color: #c2f0fe;
}

.lesson {
  position: absolute;
  /* top: 97px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2em;
}
.flashcard {
  display: inline-block;
  padding: 12%;
  margin: 16px auto;
  background-color: #fff;
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
